@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgba(255, 0, 0, 0.05); */
  font-family: "Rubik", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/* end reset css */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-top: 1rem;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cross {
  position: absolute;
  top: 0px;
  left: 0px;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  background-color: orange;
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.5s;
}

.drawer.open {
  transform: translateX(0%);
  transition: transform 0.5s;
}

@media (min-width: 768px) {
  .drawer,
  .open {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    position: static;
    transform: none;
    background-color: transparent;
  }
  .menu-btn,
  .cross {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0px;
  }
}
